/** Messages **/
.block-messages {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    width: 100%;
    min-height: 50px;
    display: none;
}
.block-messages .alert {
    margin: 0;
}
.error {
    background-color: #F7D6D6;
    border: 1px solid #E40D0D;
}
.error em {
    color: red;
    display: block;
    font-weight: normal;
    margin-top: 5px;
}

.required {
    color: #E40D0D;
}
.alert {
    border: 1px solid;
    margin: 10px;
    padding:15px 10px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.alert-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.alert-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.alert-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.alert-error {
    color: #D8000C;
    background-color: #FFBABA;
}
.alert-tooltip {
    background-color: #FFFF47;
    font-weight: normal;
}
.form-info-drop {

}
.hide {
    display: none;
}

/** Layout **/
.block-container{
    padding: 0 15px;
}
.block-container:before,
.block-container:after 
{
    content: " ";
    display: table;
    width: 5px;
    height: 5px;
    clear: both;
}

.box-12{ width: 100%; }
.box-11{ width: 91.67%; }
.box-10{ width: 83.33%; }
.box-9{ width: 75.00%; }
.box-8{ width: 66.66%; }
.box-7{ width: 58.33%; }
.box-6{ width: 50%; }
.box-5{ width: 41.66%; }
.box-4{ width: 33.33%; }
.box-3{ width: 25.00%; }
.box-2{ width: 16.66%; }
.box-1{ width: 8.33%; }

div[class^="box-"]
{
    float: left;
    height: 100%;
}

div[class^="box-"]:before,
div[class^="box-"]:after,
div.form-group:before,
div.form-group:after {
    content: " ";
    position: relative;
    width: 10px;
    height: 10px;
    background: red;
}

.row:after,
.row:before
{
    content: " ";
    display: block;
    clear: both;
    margin-top: 5px;
}
.form-group {
    clear: both;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.form-group-row {
    display: table-row;
}
.form-group-col {
    display: table-cell;
}
.form-control {
    font-size: 13px;
    line-height: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;
    width: 100%;
}

input[type="text"].form-control {
    text-indent: 5px;
}

textarea.form-control {
    height: auto !important;
    line-height: 20px !important;
    padding-left: 3px !important;
}

/** Widgets **/
select.form-control {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    background: white;
    box-shadow: inset 0px 1px 2px 1px #eee;
    border-radius: 0;
}
select[multiple].form-control {
    height: auto !important;
}

.list-group {
    border: 1px solid #337ab7;
    margin: 5px;
}
.list-group .list-group-head,
.list-group .list-group-item 
{
    text-indent: 5px;
    min-height: 30px;
    line-height: 30px;
}
.list-group .list-group-head{
    background: #337ab7;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #494949;
}
.list-group .list-group-item{
    border-bottom: 1px solid #d3d3d3;
}
.list-group-horizontal .list-group-item {
    display: inline-block;
    border-bottom: none;
}

.panel {
    border: 1px solid #C0C0C0;
}
.panel-head {
    background: #efefef;
    padding: 4px 2px;
}
.panel-head:after {
    content: ' ';
    display: block;
    clear: both;
}
.panel-head h4 {
    float: left;
    color: #5e6469;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-indent: 5px;
    line-height: 30px;
}
.panel-head-toolbar {
    float: right;
    padding-right: 5px;
}
.panel-body {
    padding: 5px;
}
.panel-body:after,
.panel-body:before
{
    content: " ";
    display: table;
    clear: both;
}
.form-list-horizontal:after {
    content: " ";
    display: block;
    clear: both;
}
.form-list-horizontal li {
    float: left;
    width: 32.5%;
}
.form-image {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}
.form-image img {
    border: 1px solid rgb(91, 94, 94);
    padding: 1px;
    max-width: 100%;
}
.form-toolbar{
    padding: 10px;
}

/** Helpers **/
.auto-width {
    width: 100% !important;
}
.inherit-width {
    width: auto !important;
}

/** Buttons **/
.btn, 
input[type="submit"] 
{
    display: inline-block;
    padding: 4px 8px;
    margin: 0;
    border: none;
    background: #818181;
    background: -moz-linear-gradient(top,#818181 0%,#646464 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#646464),color-stop(100%,#646464));
    background: -webkit-linear-gradient(top,#818181 0%,#646464 100%);
    background: -o-linear-gradient(top,#818181 0%,#646464 100%);
    background: -ms-linear-gradient(top,#818181 0%,#646464 100%);
    background: linear-gradient(top,#818181 0%,#646464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818181',endColorstr='#646464',GradientType=0);
    -moz-box-shadow: 0 1px 5px #444;
    -webkit-box-shadow: 0 1px 5px #444;
    box-shadow: 0 1px 5px #444;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: none;
    line-height: 25px;
}

.btn-toolbar {
    background-color: blue;
}
.btn-toolbar .btn,
.btn-toolbar form {
    border-radius: 0;
    float: left;
}

/** Defaults **/
textarea {
    resize: none;
}
label {
    height: 20px;
    line-height: 20px;
}
form {
    font-size: 13px;
}

.imagelist {
    list-style-type: none;
}
.imagelist li {
    float: left;
    margin: 2.5px;
}
.table {
    border-collapse: separate;
    border-spacing: 0;
}
.table th {
    background-color: #5e6469;
    color: white;
    padding: 5px;
    text-shadow: none;
}
.table td {
    padding: 2px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}
.draggable-list {
    background: #D5DEE6;
    min-height: 200px;
    border: 1px dotted silver;
    margin: 3px;
}
.draggable-list li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
    font-weight: normal;
}
.draggable-list i {
    float: left;
    margin: 0 5px 0 0;
}
.draggable-list i.icon-move {
    cursor: pointer;
}
.draggable-list li.placeholder {
  position: relative;
  
}
.draggable-list li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
  
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.dataTables_length {
    padding: 5px 10px;
}
.dataTables_filter {
    padding: 5px 10px;
}
.dataTables_filter label {
    height: auto;
    line-height: normal;
}
.dataTables_filter input {
    line-height: 30px !important;
    height: 30px !important;
    margin-left: 5px;
}
.dataTables_scrollBody {
    max-height: 400px !important;
}
.dataTables_info {
    padding: 5px 10px;
}
.dataTables_paginate {
    padding: 10px;
}
.paging_simple_numbers a,
.paging_full_numbers a,
.paging_full_numbers .current
{
    padding: 5px;
    margin: 2px;
    cursor: pointer;
    min-width: 20px;
    float: left;
    text-align: center;
}
.paging_full_numbers .current {
    cursor: default;
    background-color: silver;
}
.paging_simple_numbers a:hover,
.paging_full_numbers a:hover
{
    background-color: #818181;
    color: white;
}
