body{
    background: #ffffff;
}
#admin_page #content div.table_container div.page_container {
    background: none;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
}
.select2-offscreen {
  display: none !important;
}

#admin_page #content div.table_container table.results {
    /*background-color: #ffffff;*/
    margin-bottom: 0;
}

#admin_page #content div.table_container table.results tr.result td {
    vertical-align: middle;
}

#admin_page #content div.table_container div.results_header div.actions {
    right: 9px;
    float: right;
    position: relative !important;
    top: 0;
}
#admin_page #content div.table_container div.page_container div.paginator {
    margin-left: 0;
}
#admin_page #content div.table_container div.page_container div.per_page {
    line-height: 33px;
}
.dataTables_scrollBody {
    height: 550px !important;
}
/** Buttons **/
.btn, 
input[type="button"],
input[type="submit"]
{
    display: inline-block;
    padding: 4px 8px !important;
    margin: 0;
    border: none;
    background: #818181;
    background: -moz-linear-gradient(top,#818181 0%,#646464 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#646464),color-stop(100%,#646464));
    background: -webkit-linear-gradient(top,#818181 0%,#646464 100%);
    background: -o-linear-gradient(top,#818181 0%,#646464 100%);
    background: -ms-linear-gradient(top,#818181 0%,#646464 100%);
    background: linear-gradient(top,#818181 0%,#646464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818181',endColorstr='#646464',GradientType=0);
    -moz-box-shadow: 0 1px 5px #444;
    -webkit-box-shadow: 0 1px 5px #444;
    box-shadow: 0 1px 5px #444;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-shadow: none;
    line-height: 25px;
}

.welcome {
    padding: 20%;
    text-align: center;
}

.pagination {
    clear: both;
    padding: 5px;
}
.pagination li {
    display: inline-block;
    height: 30px;
    margin: 2px;
    width: 30px;
}
.pagination li a,
.pagination li span
{
    background-color: #818181;
    border: 1px solid #818181;
    color: white;
    float: left;
    height: 100%;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.pagination li.active span {
    background-color: white;
    border: 1px solid #818181;
    color: #888;
}
.pagination li.disabled span {
    background-color: #E4E1E1;
    border: 1px solid white;
}
