/* Simple Tabs */
.tabs{

}
.tabs .tabs-head{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;      
}
.tabs .tabs-head li{
    display: inline;
        border-bottom: 1px solid #ffffff;
}
.tabs .tabs-head li a{
    padding: 5px 25px;
    background-color: #D6D6D6;
    display: block;
    line-height: 30px;
    color: #5e6469;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.tabs .tabs-head li a.active{
    background-color: #FFFFFF;
    border-left: 1px solid #D2D0D0;
    border-right: 1px solid #D2D0D0;
    box-shadow: inset 0 2px 0 #f05451;
    cursor: text;
}
.tabs section.tab-panel{
    background-color: #FFFFFF;
    min-height: 300px;
    padding: 10px;
    display: none;
    border: 1px solid #D2D0D0;
    overflow: auto;
}
.tabs section.tab-panel.active{
    display: block;
}
